extends ../layout.pug

block content
  table.table.table-striped
        tr
          th Nombre
          th Apellidos
          th Edad
          th Empresa
          th Coche

          tr
            td= persona.nombre
            td= persona.apellidos
            td= persona.edad
            td= persona.empresa
            td= persona.coche        